body {
    font-family: 'special Elite', cursive;
    background-color: lightblue;
}
b {
    color: darkblue;
}
.text_images_and_result {
    background-color: lightgrey;
    margin-top: 50px;
    margin-bottom: 50px;
}
#test_image {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h5 {
    font-size: 20px;
}